html, body {
	background:linear-gradient(rgba(244, 242, 243, 0.4), rgba(244, 242, 243, 0.4)), url("../images/geometry.png");
}

h1 {
	color: #FC4A2A;
	text-align: center;
	font-size: 90px;
	margin-top: 40px;
	font-family: 'Roboto', sans-serif;
}

h2 {
	color: #FC4A2A;
	font-size: 60px;
	margin-top: 0;
	margin-bottom: 2.2em;
	margin-top: 65px;
	text-align: center;
	font-family: 'Lora', serif;
	font-weight: 300;
	font-size: 2em;
}

h3 {
	line-height: 50px;
	color: #FC4A2A;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 22px;

}

h4 {
	font-size: 18px;
	color: #FC4A2A;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	margin-bottom: 1.5em;
}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
	margin-left: 50px;
	margin-right: 50px;
	color: #FC4A2A;
	font-family: 'Lora', serif;
	font-size: 16px;
}

li:hover {
	cursor: pointer;
}

#rsvp-header {
	margin-bottom: 1.5em;
}

.hero-sub-text {
	color: #FC4A2A;
	text-align: center;
	margin-top: 70px;
	font-family: 'Lora', serif;
	font-size: 30px;
}

.glyphicon.glyphicon-heart {
	color: #FC4A2A;
}

button.btn.btn-success {
	background-color: transparent;
	border: #bfbfbf 1px solid;
	border-radius: 5px;
	color: #FC4A2A;
	margin-right: 18px;
}

button.btn.btn-success:hover {
	background-color: white;
	border: #bfbfbf 1px solid;
	border-radius: 5px;
	color: #FC4A2A;
	margin-right: 18px;
}

.checkbox label, .radio label {
	font-weight: 500;
	margin-bottom: 25px;
	margin-top: 25px;
	color: #FC4A2A;
	font-family: 'Roboto', sans-serif;
}

#header  {
	position: fixed;
    height: 60px;
    display: inline;
    width: 100%;
    z-index: 9;
    color: #FC4A2A;
    padding: 20px 0 0 0;
    background-color: white;
    box-shadow: 0px 1px 1px #80808047;
}

a {
	text-align: center;
	margin: 0 auto;
	display: block;
	font-size: 18px;
	color: #FC4A2A;
	text-decoration: underline;
	font-family: 'Roboto', sans-serif;
	margin-top: 3.5em;
}

a:visited {
	color: #FC4A2A;
}

#arrow-wrapper {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;

}

.arrow {
  position: absolute;
  bottom: 24px;
  width: 20px;
  height: 20px;
  border-top: 3px solid #FC4A2A;
  border-right: 3px solid #FC4A2A;
  right: 19px;
}

.down {
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.modal .modal-body p {
	text-align: center;
}

.modal .modal-title {
	text-align: center;
}

.modal.success .modal-title {
	color: green;
}


@keyframes pulsate {
  0% {
    transform: scale(0.7, 0.7);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@media only screen
  and (min-width: 320px)
  and (max-width: 480px) {
  	h1 {
  		font-size: 67px;
  	}
  	h2 {
  		margin-bottom: 28px;
  	}
  	h3 {
  		font-size: 18px;
  		line-height: 39px;
  		margin-top: 10px;
  	}
  	a {
  		margin-top: 20px;
  	}
  	#rsvp {
  		margin-left: 30px;
  	}
  	.form-control {
  		width: 90%;
  	}
  }


@media only screen
and (min-width : 481px)
and (max-width : 767px) {
	#rsvp {
  		margin-left: 30px;
  	}
  	.form-control {
  		width: 90%;
  	}
  	h3 {
  		font-size: 18px;
  		line-height: 39px;
  	}
}

@media only screen
and (min-width : 768px)
and (max-width : 1366px) {
	#rsvp {
  		margin-left: 30px;
  	}
  	.form-control {
  		width: 90%;
  	}
  	h3 {
  		font-size: 18px;
  		line-height: 39px;
  	}
}
